.header {
    padding: 60px;
    text-align: center;
    background:black;
    color:whitesmoke;
    font-size: xx-large;
}
#intro-section {
    color: rgb(216, 132, 23);
    max-width: 100%;
    text-align: center;
    font-size: medium;
}

a:hover {
    background-color: rgb(216, 132, 23);
}

body {
    background-color:lightgrey;
    font-family: 'Bangers', cursive;
    font-size: medium;
}


.sub-titles {
    font-size: large;
    color: rgb(216, 132, 23);
    text-align: left;
}

.thin-grey-border {
    border-color: slategray;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}

#title-image {
   float: right; 
   max-width: 30%;
   margin:0 15px 0 0;
}

img {
    max-width: 100%;
    height:auto
}

.buttons {
    text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: black;
    font-size: small;
}

