.intro-section {
    color: rgb(216, 132, 23);
    max-width: 30%;
    text-align: left;
}

body {
    background-color: papayawhip;
    font-family: 'Bangers', cursive;
}

h1 {
    color: yellowgreen;
    font-family: 'ZCOOL KuaiLe', cursive;
}

.thin-grey-border {
    border-color: slategray;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
}