.intro-section {
    color: rgb(216, 132, 23);
    max-width: 30%;
    text-align: left;
}

body {
    background-color: plum;
    font-family: 'Bangers', cursive;
}

h1 {
    color: yellowgreen;
    font-family: 'ZCOOL KuaiLe', cursive;
}